{
  "extends": "airbnb-base",
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "HTMLInputElement": "writable",
    "FormData": "readonly",
    "FileReader": "readonly",
    "fetch": "readonly"
  }
}