{
  "extends": "airbnb-base",
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "HTMLInputElement": "writable",
    "FormData": "readonly",
    "FileReader": "readonly",
    "fetch": "readonly",
    "axios": "readonly"
  },
  "rules": {
    "class-methods-use-this": "off"
  }
}
